[Unit]
Description=WiFi Telemetry APS Service

[Service]
Type=simple
EnvironmentFile=/etc/device.properties
WorkingDirectory=/usr/ccsp/wifi
ExecStart=/bin/sh -c '/usr/ccsp/wifi/apshealth.sh'
ExecStop=/bin/sh -c 'echo "`date`: Stopping/Restarting WiFi Telemetry APS" >> ${PROCESS_RESTART_LOG}'
Restart=always

StandardOutput=syslog

[Install]
WantedBy=wifi-telemetry.target
