[Unit]
Description=WiFi Telemetry Initial Cron Job Setup

[Service]
Type=simple
WorkingDirectory=/usr/ccsp/wifi
ExecStart=/bin/sh -c '/usr/ccsp/wifi/wifiTelemetrySetup.sh'
RemainAfterExit=yes

StandardOutput=syslog+console

[Install]
WantedBy=wifi-telemetry.target
